<style>
  .nav-item {
    background-color: gray;
    border-radius: 10px;
    margin-left: 10px;      
  }
</style>
<h1 style="margin-top: 300px">This is a section for master page</h1>
<script>
  console.log("first script");
</script>
